@use "../utils/colors" as color;

/*
# =================================================================
# TYPOGRAPHY
# =================================================================
*/

main {
  h1 {
    color: color.$brown;
    margin: 1.5rem 0 0.75rem;
  }
  h2 {
    color: color.$primary;
    margin: 1.2rem 0 0.75rem;
  }
}
