@use '../utils/breakpoints' as *;

.modal {
  display: none;
  $self: &;

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__dialog {
    $modalHeight: 25rem;
    $modalHeaderHeight: 4rem;
    width: 100%;
    height: 100vh;
    max-height: $modalHeight;
    display: block;
    // padding of container and scrollbar width
    max-width: calc(100% - 2 * 1.5rem - 17px);
    margin-right: 15px; // scrollbar

    @include media('>phone') {
      max-width: calc(100% - 2 * 1.5rem /* - 17px */);
      // margin: 0 auto;
      margin-right: 0;
    }

    background: #ebecf0;
    border-radius: 0.75rem;

    #{$self}__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      #{$self}__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        height: $modalHeaderHeight;
        padding: 0.5rem 1rem;
        background: #64646412;

        // close button
        [data-dismiss='modal'] {
          justify-content: center;
          min-height: 2.75rem;
          min-width: 2.75rem;
          border-radius: 50%;
          font-weight: bold;
          font-size: 1.3em;
          padding: 0;
        }
      }
      #{$self}__body {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        height: 100%;
        // max-height: calc($modalHeight - $modalHeaderHeight - 2 * 1rem);
        overflow-y: auto;
        margin: 1rem;

        &::-webkit-scrollbar {
          width: 7px; /* width of the entire scrollbar */
        }

        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0.1); /* color of the tracking area */
          border-radius: 20px;
          transition: border 400ms ease;

          &:active {
            border: 1px solid #999;
          }
        }

        &::-webkit-scrollbar-thumb {
          background-color: #aaaaaa; /* color of the scroll thumb */
          border-radius: 20px; /* roundness of the scroll thumb */
          border: 7px solid #aaaaaa; /* creates padding around scroll thumb */

          &:hover {
            background-color: #999;
            border-color: #999;
          }
        }
      }
    }
  }
}
