@charset "UTF-8";
/*
# =================================================================
# RESET
# =================================================================
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
* 1. Prevent adjustments of font size after orientation changes on Windows Phone and iOS
* 2. Use a 4-space tab width in all browsers (opinionated).
*/
html {
  -webkit-text-size-adjust: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 1 */
  -moz-tab-size: 4;
  /* 2 */
  tab-size: 4;
  /* 2 */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
  font-size: 1rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 2em;
}

:is(article, aside, nav, section) h1 {
  font-size: 2em;
}

/* only lists which have a class*/
ul[class],
ol[class] {
  padding: 0;
}

img,
video {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Remove the default button styling in all browsers */
button,
button optgroup,
input,
input optgroup,
select,
select optgroup,
textarea,
textarea optgroup {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

small {
  font-size: 80%;
}

code,
kbd,
samp,
pre {
  font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
# =================================================================
# Compatibility
# =================================================================
*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/* Firefox 40+, Internet Explorer 11- */
button,
select {
  text-transform: none;
}

/* Remove the gray background on active links in IE 10 */
a {
  background-color: transparent;
}

/* Add the correct display in IE */
[hidden] {
  display: none;
}

[invisible] {
  visibility: hidden;
}

/* Hide the overflow in IE which are not inside the html element. */
svg:not(:root) {
  overflow: hidden;
}

/* Correct the inability to style buttons in iOS and Safari. */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * IE 8-11 and Prince don't recognize the `wbr` element,
 * but a pseudo-element can achieve the same effect with IE 9+ and Prince.
 */
wbr:before {
  /* Unicode zero width space */
  content: "​";
  white-space: normal;
}

/*
hide elements but make them readable for screen readers
not(:focus):not(:active) will reveal focusable hidden content like links, buttons, input fields, ...
1. puts whole text into one line, so screen readers can read it properly
2. IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box
3. maybe deprecated but we need to support legacy browsers
4. modern browsers, clip-path works inwards from each corner
*/
.visually-hidden:not(:focus):not(:active), .a11y-hidden {
  position: absolute;
  left: -1000in;
  top: auto;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-width: 0;
  white-space: nowrap;
  /* 1 */
  clip: rect(1px 1px 1px 1px);
  /* 2 */
  clip: rect(1px, 1px, 1px, 1px);
  /* 3 */
  clip-path: inset(50%);
  /* 4 */
}

/*
# =================================================================
# Accessibility
# =================================================================
*/
.a11y-focusable:focus {
  position: initial;
  left: auto;
  height: auto;
  width: auto;
  padding: initial;
  margin: initial;
  overflow: auto;
  border-width: initial;
  white-space: initial;
  clip: auto;
  clip-path: initial;
}

/*
1. Remove the tapping delay in IE 10.
2. Remove the tapping delay on clickable elements in all browsers.
*/
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/*
Remove all animations and transitions for people that prefer not to see them
*/
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
# =================================================================
# SCSS Functions
# =================================================================
*/
/* if you want to use scss variables inside calculation functions */
/*
# =================================================================
# VARIABLES
# =================================================================
*/
/*
# =================================================================
# FONTS
# =================================================================
*/
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/lato-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/lato.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*
# =================================================================
# MIXINS
# =================================================================
*/
/*
# =================================================================
# Animations
# =================================================================
*/
@-webkit-keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@-moz-keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@-o-keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@-ms-keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/*
# =================================================================
# TYPOGRAPHY
# =================================================================
*/
main h1 {
  color: hsl(15.79deg, 44.88%, 49.8%);
  margin: 1.5rem 0 0.75rem;
}
main h2 {
  color: hsl(4.08deg, 52.28%, 38.63%);
  margin: 1.2rem 0 0.75rem;
}
main code {
  font-size: 0.98rem;
  background: rgba(76, 76, 76, 0.1);
  padding: 0.05rem 0.2rem;
  border-radius: 0.2rem;
  margin: 0 0.2rem;
  border: 1px solid rgba(76, 76, 76, 0.2);
}

/* 
# =================================================================
# Media Queries
# =================================================================
*/
/*
mobile first (320px)
landscape mobile (480px or 576px and up)
----
tablets (768px and up)
landscape tablets (992px and up)
----
laptops, desktops, TVs (1200px and up)
*/
html {
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
  font-size: 1em;
  line-height: 1.3;
  overscroll-behavior: contain;
  /* or "none" */
  background-color: hsl(0deg, 0%, 97.25%);
  scroll-padding: 4.375rem;
  transition: background 300ms ease;
}
body.calculating {
  background: rgba(0, 0, 0, 0.3);
}
body.no-scroll {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 17px;
  /* Avoid width reflow */
}
@media (min-width: 20.1rem) {
  body.no-scroll {
    padding-right: 0;
    /* Avoid width reflow */
  }
}

hr {
  margin: 1.5rem 0;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.container {
  width: 100%;
  max-width: 76.5rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 19.9rem) {
  .container {
    padding: 0 1.2rem;
    max-width: 76.2rem;
  }
}

/*
# =================================================================
# Access this file and it will forward all included files to be usable.
# =================================================================
*/
a.btn,
a.btn-link {
  text-decoration: none;
}

button.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}
@media screen and (-ms-high-contrast: active) {
  button.btn {
    border: 2px solid currentcolor;
  }
}

input[type=submit].btn,
input[type=button].btn,
input[type=reset].btn {
  cursor: pointer;
}

a.btn,
button.btn,
input[type=submit].btn,
input[type=button].btn,
input[type=reset].btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 8px;
  color: hsl(0deg, 0%, 12.16%);
  margin-right: 1rem;
  margin-top: 1rem;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  text-align: center;
  user-select: none;
  white-space: nowrap;
  appearance: none;
  padding: 0.4em 0.8em 0.5em;
  min-width: 7ch;
  min-height: 44px;
  transition: 200ms cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
a.btn:hover,
button.btn:hover,
input[type=submit].btn:hover,
input[type=button].btn:hover,
input[type=reset].btn:hover {
  background-color: #f3f4f6;
  border-color: rgba(27, 31, 35, 0.15);
  transition-duration: 100ms;
}
a.btn:active:not([aria-disabled=true], [disabled]),
button.btn:active:not([aria-disabled=true], [disabled]),
input[type=submit].btn:active:not([aria-disabled=true], [disabled]),
input[type=button].btn:active:not([aria-disabled=true], [disabled]),
input[type=reset].btn:active:not([aria-disabled=true], [disabled]) {
  background-color: #ebecf0;
  border-color: rgba(27, 31, 35, 0.1);
  transition: none;
}
a.btn::before,
button.btn::before,
input[type=submit].btn::before,
input[type=button].btn::before,
input[type=reset].btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 2px #26323f;
  opacity: 0;
  transition: 220ms opacity ease-in-out;
}
a.btn:focus-visible:not(input),
button.btn:focus-visible:not(input),
input[type=submit].btn:focus-visible:not(input),
input[type=button].btn:focus-visible:not(input),
input[type=reset].btn:focus-visible:not(input) {
  outline-style: solid;
  outline-color: transparent;
}
a.btn:focus-visible:not(input)::before,
button.btn:focus-visible:not(input)::before,
input[type=submit].btn:focus-visible:not(input)::before,
input[type=button].btn:focus-visible:not(input)::before,
input[type=reset].btn:focus-visible:not(input)::before {
  opacity: 1;
}
a.btn[aria-disabled=true], a.btn[disabled],
button.btn[aria-disabled=true],
button.btn[disabled],
input[type=submit].btn[aria-disabled=true],
input[type=submit].btn[disabled],
input[type=button].btn[aria-disabled=true],
input[type=button].btn[disabled],
input[type=reset].btn[aria-disabled=true],
input[type=reset].btn[disabled] {
  color: #7b7b7b;
  background-color: #fcfcfc;
  cursor: not-allowed;
}
a.btn--block,
button.btn--block,
input[type=submit].btn--block,
input[type=button].btn--block,
input[type=reset].btn--block {
  width: 100%;
}
a.btn--small,
button.btn--small,
input[type=submit].btn--small,
input[type=button].btn--small,
input[type=reset].btn--small {
  font-size: 0.8rem;
}
a.btn--big,
button.btn--big,
input[type=submit].btn--big,
input[type=button].btn--big,
input[type=reset].btn--big {
  font-size: 1.3rem;
}
a.btn.loading,
button.btn.loading,
input[type=submit].btn.loading,
input[type=button].btn.loading,
input[type=reset].btn.loading {
  color: transparent;
}
a.btn.loading::after,
button.btn.loading::after,
input[type=submit].btn.loading::after,
input[type=button].btn.loading::after,
input[type=reset].btn.loading::after {
  content: "";
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 0.24em solid rgba(0, 0, 0, 0.2);
  border-top: 0.24em solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  will-change: transform;
  animation: button-loading-spinner 1s linear infinite;
}
a.btn.loading.anim-pause::after,
button.btn.loading.anim-pause::after,
input[type=submit].btn.loading.anim-pause::after,
input[type=button].btn.loading.anim-pause::after,
input[type=reset].btn.loading.anim-pause::after {
  border: 0.24em solid transparent;
  border-top: 0.24em solid rgba(0, 0, 0, 0.7);
  animation: button-loading-spinner 1s ease infinite;
}

details {
  margin: 4rem 0 1rem;
  border-radius: 0.2rem;
  padding: 0 1rem;
}
details summary {
  margin: -3rem -1rem 0;
  background: rgba(76, 76, 76, 0.1);
  padding: 1rem;
  border-radius: 0.2rem;
}
details summary:hover {
  cursor: pointer;
  user-select: none;
}

details[open] {
  border-left: 1px solid rgba(76, 76, 76, 0.2);
  border-right: 1px solid rgba(76, 76, 76, 0.2);
  border-bottom: 1px solid rgba(76, 76, 76, 0.2);
  padding: 1rem;
}
details[open] summary {
  margin: -4rem -1rem 1rem;
  background: rgba(76, 76, 76, 0.2);
  border-radius: 0;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  outline: 1px solid rgba(76, 76, 76, 0.2);
}

details video {
  margin-top: 2rem;
}

main {
  padding-bottom: 3rem;
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#skip-navigation {
  position: fixed;
  top: -100%;
  left: 10px;
  transform: translateY(-100%);
  background-color: hsl(15.79deg, 44.88%, 49.8%);
  border: 3px solid hsl(15.79deg, 44.88%, 49.8%);
  color: white;
  text-decoration: none;
  padding: 14px;
  transition: transform 250ms ease;
  z-index: 2;
}
#skip-navigation:focus {
  top: 0;
  transform: translateY(0);
}

/*
# =================================================================
# Access this file and it will forward all included files to be usable.
# =================================================================
*/

/*# sourceMappingURL=global.css.map */
