$black: hsl(0, 0%, 12.16%);
$white: hsl(0, 0%, 97.25%);

$primary: hsl(4.08, 52.28%, 38.63%);
$secondary: hsl(156.52, 25%, 36.08%);
$accent: hsl(256.36, 20%, 32.35%);
$highlight: hsl(42.31, 81.25%, 81.18%);
$brown: hsl(15.79, 44.88%, 49.8%);
