@use "../utils/colors" as color;
@use "../utils/constants" as const;
@use "../utils/breakpoints" as *;

html {
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
  font-size: const.$baseFontSize;
  line-height: 1.3;
  // prevents parent container from scrolling when the child container reaches the bottom
  overscroll-behavior: contain; /* or "none" */
  background-color: color.$white;
  scroll-padding: const.$navHeight;
  transition: background 300ms ease;

  &.calculating {
    background: rgba(0, 0, 0, 0.3);
  }

  &.no-scroll {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 17px; /* Avoid width reflow */

    @include media(">phone") {
      padding-right: 0; /* Avoid width reflow */
    }
  }
}

hr {
  margin: 1.5rem 0;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.container {
  width: 100%;
  max-width: calc(75rem + 1.5rem);
  padding: 0 1.5rem;
  margin: 0 auto;
  height: 100%;

  @include media("<phone") {
    padding: 0 1.2rem;
    max-width: calc(75rem + 1.2rem);
  }
}
